<section class="side_buttons">
  <%=form_for @task do |f|%>
    <%f.label :title%>
    <%f.text_field :title%>
    <%f.label :description%>
    <%f.text_field :description%>
    <%f.label :due_date%>
    <%f.text_field :due_date%>
    <%f.submit "Add Task"%>
  <%end%>
</section>
